---
layout: default
title: Hamburg 2023
permalink: /events/hamburg2023/
event_hide: false
event_date: 2023-10-31
event_date_string: October 31st, November 1st-2nd 2023
event_location: Hamburg, Germany
event_summary: Three days to continue the grow of the Reproducible Builds effort.
---

<h1>{{ page.title }}</h1>

<p><strong>When:</strong> {{ page.event_date_string }}.</p>
<p><strong>What:</strong> {{ page.event_summary }}</p>
<p>As a follow up to the six previous reproducible builds workshops in
  <a href="{{ "/events/athens2015/" | relative_url }}">Athens 2015</a>,
  <a href="{{ "/events/berlin2016/" | relative_url }}">Berlin 2016</a>,
  <a href="{{ "/events/berlin2017/" | relative_url }}">Berlin 2017</a>,
  <a href="{{ "/events/paris2018/" | relative_url }}">Paris 2018</a>,
  <a href="{{ "/events/Marrakesh2019/" | relative_url }}">Marrakech 2019</a> and
  <a href="{{ "/events/venice2022/" | relative_url }}">Venice 2022</a>

  the reproducible builds folks will meet again!
  And just like previous years, the heart of the workshop are three days of moderated sessions with the goals outlined just below.
</p>

<p><strong>Where:</strong><br>
<a href="https://dock-europe.net">dock europe e.V.</a>
Bodenstedtstr. 16<br>
22765 Hamburg<br>
Germany<br>
<!-- a href="https://www.openstreetmap.org/search?query=Via%20Alfredo%20Ceccherini%2C%2021%2C%2030174%20Venezia%20VE%2C%20Germany#map=19/45.50348/12.23570">OpenStreetMap</a -->
</p>

<h2>Goals</h2>
<p>
  As previously, the exact content of the meeting will be shaped by the participants,
  these are our main goals as organizers:
</p>
<ul>
  <li>Physically meet each other after such a long time! ;-)</li>
  <li>Update &amp; exchange about the status of reproducible builds in various projects.</li>
  <li>Improve collaboration both between and inside projects.</li>
  <li>Expand the scope and reach of reproducible builds to more projects.</li>
  <li>Establish space for more strategic and long-term thinking than is possible in virtual channels.</li>
  <li>Brainstorm designs on tools enabling users to get the most benefits from reproducible builds.</li>
  <li>Work together and hack on solutions.</li>
  <li>Discuss how reproducible builds will be usable and meaningful to users and developers alike.</li>
</ul>

<!-- h2>Participants</h2>
<p>
  There have been participants from
  Apache Maven, coreboot, Debian, Eclipse Adoptium, EdgeBSD, GNU Guix, Max Planck Institute for Security and Privacy (MPI-SP), NetBSD, Octez / Tezos, OpenWrt, pkgsrc, Qubes OS, Quinel Ltd, Tails, Tor Project, Warpforge
  and more...
</p -->
<p>
There will be a huge variety of topics to be discussed. To give a few examples:
</p>
<ul>
    <li>continuing design and development work on .buildinfo infrastructure</li>
    <li>build-path issues everywhere</li>
    <li>future directions for diffoscope, reprotest &amp; strip-nondeterminism</li>
    <li>discussing formats and tools we can share</li>
    <li>sharing proposals for standards and documentation helpful to spreading the reproducible effort</li>
    <li>and many many more.</li>
</ul>

<h2>Location</h2>

<p>
  The event took will take place at place at <a href="https://dock-europe.net">dock europe e.V.</a>
  in Hamburg Altona, Germany. We will soon add more information about the location, for now
  we advise to have a look at dock europe's webpage.
</p>

<!-- p>
  We picked a hotel for the whole event, and encourage people to stay within the same building.
</p>

<p>
 To enable us to focus on our workshop and it's goals, freshly prepared local
 food is served lunch and dinner.
</p -->


<h3>Participation costs and financial support</h3>

<p>
Attendance to the summit is free of charge!<br>
If you are attending on behalf of your company, corporate registration is available, please contact us if you are interested in that!
</p>

<p>
We are working to confirm sponsors to support the event, who will offset the shared expenses for everybody (meeting room, stationary, meals, ...).  If you or your company/organization can help out, please reach out to us</a>.<br>
</p>

<p>
In an effort to maximize inclusion and expand the diversity of the community, we are offering additional travel support on a case by case basis. We invite first-time attendees and those in financial need to apply for travel funding. We also invite people from groups traditionally underrepresented in free software to apply for travel funding, including:
<ul>
    <li>Women (cis and trans), trans men, and genderqueer people.</li>
    <li>Individuals from Latin America, Africa, South Asia and Southeast Asia.</li>
    <li>Anyone who is subject to systemic bias or discrimination, and impacted by under-representation in free software. Please email us and let us know what kind of diverse perspective you will bring to the conference.</li>
</ul>

We can also provide support to active Reproducible Builds contributors for whom this expense would be difficult to afford.
</p>
<!-- p>
You can request financial support by emailing the orga team with the information requested at <a href="{{ "events/hamburg2023/travelsupport.html" | relative_url }}">this page</a>.
</p -->

<h3>Other activities</h3>
<p>
  <em>To be organized</em> by the attendees while there.<br />
</p>

<h2>Code of Conduct</h2>
<p>
  This event will be run under the guidance of the <a href="http://debconf.org/codeofconduct.shtml">DebConf Code of Conduct</a> and the <a href="https://www.debian.org/code_of_conduct">Debian Code of Conduct</a>.
</p>
<p>
  The organisers are committed to providing an event where all participants feel safe. Attendees are expected to treat all people with respect and help create a welcoming environment. If you notice behaviour that fails to meet this standard, please speak up (aloud or in private to the organisers).
</p>

<h3>Organized by</h3>

<a href="https://aspirationtech.org/"><img src="{{ "/images/logos/aspirationtech.jpg" | relative_url }}" alt="Aspiration" style="margin: 20px;"/></a>
&amp;
Holger, Vagrant, Chris and Mattia

<h2>Sponsors</h2>

<p>
We are welcoming sponsors for this event! Please contact us if you want to support this event.
</p>


<h2>Travel and getting there</h2>

<h3>Visas</h3>

<p>
  We expect most of our attendees to not need a visa to enter Germany.<br>
  See <a href="https://www.auswaertiges-amt.de/en/visa-servic">the website from The Federal Foreign Office</a> to verify whether you need one.
</p>
<p>
  Contact the organization team if you need help with getting a visa processed.
</p>

<h3>Travel to Hamburg and the venue</h3>

<p>
  The nearest airport is <a href="https://en.wikipedia.org/wiki/Hamburg_Airport">Hamburg Airport</a>
  from which there is a direct subway connection to Hamburg Altona. Hamburg Altona is also 
  an ICE train station with trains to/from Berlin, Kopenhagen, Munich, Prague, Vienna and Zurich, besides many other places.<br>
  This being Hamburg, of course you can also reach us by sea!
</p>

<h2>Registration</h2>
<p>
Registration for attending this event has not yet begun and eventually will be done by sending a short email to the organizers, expressing that you want to attend and possible shortly stating your involvement or other reasons why.
</p>

