<!DOCTYPE html>
<html lang="en" dir="ltr">
  {% include head.html %}
  <body>
    {% include navbar.html %}

    <div class="container">
      <div class="row h-100">
        <main role="main" class="content-scroll p-3 p-md-5">
          {{ content }}

          {% include footer.html %}
        </main>
        </div>
      </div>
    </div>

    {% include scripts.html %}
  </body>
</html>
